.container {
  max-width: 846px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  margin-bottom: 32px;
  justify-self: center;
}

.title {
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  font-weight: var(--weight-normal);
  margin: 0;
}

.par {
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  margin: 16px 0 0 0;
  text-align: center;
}

.list {
  max-width: 1280px;
  list-style-type: none;
  padding: 0 80px;
  margin: 48px auto 56px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.btn {
  background-color: inherit;
  border: 1px solid var(--black);
  border-radius: var(--radius-8);
  padding: 9px 16px;
  display: flex;
  gap: 8px;
  align-items: center;
  margin: 0 auto 69px auto;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .container {
    margin-bottom: 52px;
  }

  .title {
    font-size: var(--h1-font-size-mob);
    line-height: var(--h1-line-height-mob);
  }

  .list {
    margin: 32px 35px;
  }

  .btn {
    margin-bottom: 32px;
  }
}
